{% extends 'base.html' %}
{% load setclass %}

{% block pagename %}Edit personal interests{% endblock pagename %}
{% block heading %}Edit personal interests{% endblock heading %}


{% block content %}
<div>
  <p>
    {{ personal_interest.personal_interest }}
  </p>
</div>
<form method=post>
  {% csrf_token %}
  <p>
    Edit personal interest: {{ form.personal_interest|setclass:'form-control' }}
  </p>
  <button type='submit' class='btn btn-info'>
    Save
  </button>
</form>
{% endblock content %}
