{% extends 'base.html' %}
{% load url_target_blank %}

{% block pagename %}Blocked{% endblock pagename %}
{% block heading %}Your blocked list{% endblock heading %}


{% block content %}
<div class='container'>
  <p>This is your list of blocked users.</p>
  <p>
    Users you have blocked will not be able to message you, see your profile,
    or find you in a search.
  </p>
  <p>
    You will not be able to message them, and they won't come up in your
    search, but you can still see their profiles.
  </p>
  {% for profile in blocked_profiles %}
  <div class='card bg-dark-grey my-2'>
    <div class='card-header bg-transparent'>
      <a href="{% url 'profile-detail' profile.user.username %}" class='text-info'>
      {{ profile.user.username }}
      </a>
      <div class='float-right'>
        <a href="{% url 'profile-block' profile.user.pk %}" class='text-less-light'>
          <i class='material-icons align-middle'>block</i>&nbsp;Unblock
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="{% url 'new-report' profile.user.pk %}" class='text-less-light block'>
          <i class='material-icons align-middle'>report</i>
        </a>
      </div>
    </div>
    <div class='card-body py-2'>
    {% if profile.languages.all or profile.looking_for.all or profile.interests.all or profile.detail %}
      {% if profile.languages.all %}
      <p class='my-2'><span class='text-rockmelon font-weight-bold'>Languages</span>&nbsp;
        {{ profile.languages.all|join:", " }}
      </p>
      {% endif %}
      {% if profile.looking_for.all %}
      <p class='my-2'><span class='text-rockmelon font-weight-bold'>Looking for</span>&nbsp;
        {{ profile.looking_for.all|join:", " }}
      </p>
      {% endif %}
      {% if profile.prof_interests.all %}
      <p class='my-2'><span class='text-rockmelon font-weight-bold'>I'm here because I'm a</span>&nbsp;
        {{ profile.prof_interests.all|join:", " }}
      </p>
      {% endif %}
      {% if profile.personal_interests.all %}
      <p class='my-2'><span class='text-rockmelon font-weight-bold'>Non-tech interests</span>&nbsp;
        {{ profile.personal_interests.all|join:", " }}
      </p>
      {% endif %}
      {% if profile.ask_me %}
      <p class='my-2 urlize text-break'><span class='text-rockmelon font-weight-bold'>Ask me about</span>&nbsp;
        <br>
        {{ profile.ask_me|linebreaksbr|urlize|url_target_blank }}
      </p>
      {% endif %}
      {% if profile.teach_me %}
      <p class='my-2 urlize text-break'><span class='text-rockmelon font-weight-bold'>Teach me about</span>&nbsp;
        <br>
        {{ profile.teach_me|linebreaksbr|urlize|url_target_blank }}
      </p>
      {% endif %}
      {% if profile.detail %}
      <p class='my-2 urlize text-break'><span class='text-rockmelon font-weight-bold'>Everything else</span>&nbsp;
        <br>
        {{ profile.detail|linebreaksbr|urlize|url_target_blank }}
      </p>
      {% endif %}
      {% if profile.github or profile.twitter %}
      <dt class='text-rockmelon mt-2'>Social media</dt>
        {% if profile.github %}
        <dd>
        <a href="https://github.com/{{ profile.github }}" class='text-info' target='blank'>
          <i class='fa fa-github text-less-light'></i>&nbsp;
          {{ profile.github|truncatechars:16 }}
        </a>&nbsp;
        {% endif %}
        {% if profile.twitter %}
          <a href="https://twitter.com/{{ profile.twitter }}" class='text-info' target='blank'>
            <i class='fa fa-twitter text-less-light'></i>&nbsp;
            {{ profile.twitter|truncatechars:16  }}
          </a>
        </dd>
        {% endif %}
      {% endif %}
    {% else %}
      <class='my-2'>{{ profile.user.username }}'s profile is empty.</p>
    {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}
