{% extends 'base.html' %}

{% block pagename %}Change Password{% endblock pagename %}
{% block heading %}Change your password{% endblock heading %}


{% block content %}
<div class='container my-2'>
  <form method=post>
    {% csrf_token %}
    <div class="form-group">
      <label for="id_old_password">Old password</label>
      <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" class='form-control'>
      {% for error in form.old_password.errors %}
        <small class='text-watermelon'>
        {{ error }}
        </small>
      {% endfor %}
    </div>
    <div class="form-group">
      <label for="id_new_password1">New password</label>
      <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class='form-control'>
    </div>
    <div class="form-group">
      <label for="id_new_password2">New password confirmation</label>
      <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class='form-control'>
      {% for error in form.new_password2.errors %}
        <p class='my-1 py-0 ml-0'>
          <small class='text-watermelon'>
            {{ error }}
          </small>
        </p>
      {% endfor %}
    </div>
    <div class='d-flex justify-content-between'>
      <a href="{% url 'profile-detail' request.user.username %}" class='btn btn-secondary'>
        Cancel
      </a>
      <button type='submit' class='btn btn-info'>
        Change
      </button>
    </div>
  </form>
</div>
{% endblock content %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}
