{% extends "base.html" %}
{% load i18n %}
{% load setclass %}

{% block pagename %}Reset Password{% endblock pagename %}
{% block heading %}Reset password{% endblock heading %}

{% block content %}
<div class='container my-4 text-center'>
  <h2>Reset password</h2>

  <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

  <form method="post">{% csrf_token %}
  <fieldset class="module aligned">
      <div class="form-row field-email">
          {{ form.email.errors }}
          <label for="id_email">{% trans 'Email address:' %}</label>
          {{ form.email|setclass:'form-control' }}
      </div>
      <input class='btn btn-info my-3' type="submit" value="{% trans 'Reset my password' %}">
  </fieldset>
  </form>
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}
