{% extends 'base.html' %}
{% load setclass %}

{% block pagename %}Meetups{% endblock pagename %}
{% block heading %}Meetups{% endblock heading %}


{% block content %}
<div class='container'>
  <div class="card muted-card my-3">
    <div class="card-body">
      {% if current_meetups %}
      <p class="card-text text-center">
        Anyone can create a meetup!
      </p>
      {% else %}
      <p class="card-text text-center">
        There are no meetups coming up.
      </p>
      <p class="card-text text-center">
        But you can make one!
      </p>
      {% endif %}
      <div class='d-flex justify-content-center'>
        <a href="{% url 'new-meetup' %}" class='btn btn-info'>Set one up</a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <div class='btn-group mt-2 mb-4 w-100'>
      <button class='btn btn-info search-form-toggle'>
        <i class='material-icons align-middle'>schedule</i>
        Current
      </button>
      <a href="{% url 'past-meetups' %}" class='btn btn-secondary'>
        <i class='material-icons align-middle'>history</i>
        Past
      </a>
      <a href="{% url 'starred-meetups' %}" class='btn btn-secondary'>
        <i class='material-icons align-middle'>star_outline</i>
        Starred
      </a>
      <a href="{% url 'my-meetups' %}" class='btn btn-secondary'>
        <i class='material-icons align-middle'>edit</i>
        Mine
      </a>
    </div>
  </div>
  {% for meetup in current_meetups %}
  <div class='card bg-dark-grey my-2'>
    <div class='card-header'>
        {{ meetup.name }}
      <div class='float-right'>
        {% if request.user == meetup.organiser %}
        <a href="{% url 'edit-meetup' meetup.pk %}"
          class='text-less-light'>
          <i class='material-icons align-middle'>edit</i>
        </a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;
        <span onclick="toggleStar('{{ meetup.pk }}', '{{ meetup.name }}');"
          class='pointer hover-gold text-less-light'>
          <i class='material-icons align-middle'
            id='meetup-{{ meetup.pk }}-star-icon'>
            {% if meetup in starred_meetups %}star{% else %}star_outline{% endif %}
          </i>
        </span>
      </div>
    </div>
    <div class='card-body'>
      <p>
        <span class='text-rockmelon'>Start</span>&nbsp;
        {{ meetup.start_time }} on {{ meetup.start_date|date:"l j M" }}
      </p>
      <p>
        <span class='text-rockmelon'>End</span>&nbsp;
        {{ meetup.end_time }} on {{ meetup.end_date|date:"l j M" }}
      </p>
      <p>
        <span class='text-rockmelon'>Where</span>&nbsp;
        {{ meetup.location }}
      </p>
      <p class='urlize'>
        <span class='text-rockmelon'>Details</span>&nbsp;
        <br>
        {{ meetup.details|linebreaksbr|urlize }}
      </p>
      {% if meetup.prof_interests.all or meetup.personal_interests.all %}
      <p>
        <span class='text-rockmelon'>Interests</span>&nbsp;
        {% if meetup.prof_interests.all %}
          {{ meetup.prof_interests.all|join:", " }},
        {% endif %}
        {% if meetup.personal_interests.all %}
          {{ meetup.personal_interests.all|join:", " }}
        {% endif %}
      </p>
      {% endif %}
      <p class='mb-0'>
        <span class='text-rockmelon'>Organiser</span>&nbsp;
        <a href="{% url 'profile-detail' meetup.organiser %}"
          class="text-info">
          {{ meetup.organiser }}
        </a>
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}

{% block js %}
  <script>
    function toggleStar(meetupId, meetupName) {
      var errorMsg = "Starring/Unstarring for " + meetupName + " failed.";
      var baseUrl = "{% url 'meetup-star' 0 %}";
      var url = baseUrl.replace("0", meetupId);
      $.ajax({
        url: url
      }).done(function(json) {
        var action = json.action;
        var id = "meetup-" + meetupId + "-star-icon";
        if (action == "starred") {
          $("#" + id).html("star");
        } else if (action == "unstarred") {
          $("#" + id).html("star_outline");
        } else {
          alert(errorMsg);
        };
      }).fail(function() {
        alert(errorMsg);
      });
    };
  </script>
  {% endblock js %}
