<!DOCTYPE html>
{% load static %}

<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <title>
      Friendli &bull; {{ conference_name }} |
      {% block pagename %}{% endblock pagename %}
    </title>
  </head>

  <body class='bg-dark text-less-light'>

{% block nav %}
<!-- NAVBAR
===================================== -->
<nav class='navbar fixed-top navbar-dark bg-dark-grey'>
  <div class='container medium-width'>
    <h5 class='mb-1 mt-2 mr-5 ml-3'>
      {% block heading %}{% endblock heading %}
    </h5>
    <a class='navbar-toggler bg-dark-grey border-0 text-less-light py-2'
      type='button' data-toggle='collapse' data-target='#navbarToggle'
      aria-controls='navbarToggle' aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <i class='material-icons text-less-light align-middle'>more_vert</i>
    </a>
    <div class='collapse navbar-collapse' id='navbarToggle'>
      <ul class='navbar-nav mr-auto mt-2 mt-lg-0'>
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'landing' %}">
            <i class='material-icons align-middle ml-3 mr-2'>home</i>
            Home
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'faqs' %}">
            <i class='material-icons align-middle ml-3 mr-2'>info</i>
            FAQs
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href="https://friendli.io/terms" target='blank'>
            <i class='material-icons align-middle ml-3 mr-2'>description</i>
            Terms
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href="https://friendli.io/privacy" target='blank'>
            <i class='material-icons align-middle ml-3 mr-2'>lock</i>
            Privacy
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'change-password' %}">
            <i class='material-icons align-middle ml-3 mr-2'>vpn_key</i>
            Change password
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'my-reports' %}">
            <i class='material-icons align-middle ml-3 mr-2'>report_problem</i>
            Reported users
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'blocked-list' %}">
            <i class='material-icons align-middle ml-3 mr-2'>block</i>
            Blocked users
          </a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'logout' %}">
            <i class='material-icons align-middle ml-3 mr-2'>account_circle</i>
            Log Out
          </a>
        </li>
        {% else %}
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'signup' %}">
            <i class='material-icons align-middle ml-3 mr-2'>account_circle</i>
            Sign Up
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href="{% url 'login' %}">
            <i class='material-icons align-middle ml-3 mr-2'>account_circle</i>
            Log In
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock nav %}

  <!-- CONTENT
  ===================================== -->
  <div class='py-4'>
  </div>
  <div class='py-1'>
  </div>

  <div class='container medium-width mb-5 mt-3'>

    <div class='container' id='connection_notification'>
    </div>

    {% block content %}
    {% endblock content %}
  </div>

  <!-- FOOTER
  ===================================== -->
  {% if user.is_authenticated %}
  {% block footer %}{% endblock footer %}
  {% endif %}

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>


  {% if user.is_authenticated %}
    <script>

      $(function (){
        resizeTextarea();
        restyleMultiselects();
      });

      /*
       * Automatically resizes textareas to fit content.
       * TODO: Cap the number of lines it can expand to, and make this settable
       * on each individual text area.
       * From https://stackoverflow.com/a/25621277
       */
      function resizeTextarea () {
        $('textarea').each(function () {
          this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
        }).on('input', function () {
          this.style.height = 'auto';
          this.style.height = (this.scrollHeight) + 'px';
        });
      };

      function restyleMultiselects () {
        $('.multiselect').select2({
          allowClear: true,
          closeOnSelect: false,
          placeholder: "",
        });
      };

      jQuery.fn.highlight = function(pat) {
       function innerHighlight(node, pat) {
        var skip = 0;
        if (node.nodeType == 3) {
         var pos = node.data.toUpperCase().indexOf(pat);
         pos -= (node.data.substr(0, pos).toUpperCase().length - node.data.substr(0, pos).length);
         if (pos >= 0) {
          var spannode = document.createElement('span');
          spannode.className = 'highlight';
          var middlebit = node.splitText(pos);
          var endbit = middlebit.splitText(pat.length);
          var middleclone = middlebit.cloneNode(true);
          spannode.appendChild(middleclone);
          middlebit.parentNode.replaceChild(spannode, middlebit);
          skip = 1;
         }
        }
        else if (node.nodeType == 1 && node.childNodes && !/(script|style)/i.test(node.tagName)) {
         for (var i = 0; i < node.childNodes.length; ++i) {
          i += innerHighlight(node.childNodes[i], pat);
         }
        }
        return skip;
       }
       return this.length && pat && pat.length ? this.each(function() {
        innerHighlight(this, pat.toUpperCase());
       }) : this;
      };

      // Register a service worker for notifications.
      navigator.serviceWorker.register('/sw.js');

      /*
       * Create a notification if notifications are allowed.
       */
      function createNotificationIfAllowed(sender) {
        if(Notification.permission === 'granted') {
          var message = 'New message from ' + sender + '.';
          navigator.serviceWorker.ready.then(function(registration) {
            registration.showNotification('Friendli', {body: message});
          });
        };
      };

      /*
       * Create a WebSocket connection.
       */
      const host = window.location.host;
      const httpProtocol = window.location.protocol;
      const socketProtocol = (httpProtocol == 'https:') ? 'wss://' : 'ws://';
      const socketUrl = socketProtocol + host + '/ws/messages/';

      const socket = new WebSocket(socketUrl);
      var lastWebSocketHeartbeat = new Date().getTime() / 1000;

      /*
       * Handle an incoming WebSocket message.
       */
      socket.addEventListener("message", function(e) {
        // If this is a heartbeat, update the last heartbeat value then exit.
        if (e.data == "heartbeat") {
          lastWebSocketHeartbeat = new Date().getTime() / 1000;
          return;
        }

        // Add one to the unread messages count displayed in the footer.
        const currentCount = $("#unread_messages_count").text();
        const newCount = Number(currentCount) + 1;
        const newHtml = (
          '<span class="align-top badge badge-pill badge-info" style="position: absolute;">' +
          newCount +
          '</span>'
        );
        $("#unread_messages_count").html(newHtml);
        // Show a notification that a new message has been received, but not to
        // the sender of the message.
        const data = JSON.parse(e.data);
        if (data.sender != {{ user.pk }}) {
          createNotificationIfAllowed(data.sender_username);
        }
      });

      /*
       * Handle a WebSocket disconnection.
       */
      socket.onclose = function(e) {
          console.error('The socket has closed.');
      };

      /*
       * Set up a heartbeat to check that the WebSocket is still active. Show a
       * message when it stops being active.
       */
      function sendHeartbeat() {
        const heartbeatInterval = 30  // seconds;
        setTimeout(function () {
          const now = new Date().getTime() / 1000;
          if (now - lastWebSocketHeartbeat > 2 * heartbeatInterval ) {
            $("#connection_notification").html(
              "<div class='card bg-danger mb-3 mt-4'>" +
                "<div class='card-body'>" +
                  "<h5 class='text-center m-0'>" +
                    "The connection to the server has been interrupted." +
                  "</h5>" +
                  "<h5 class='text-center mt-3 mx-0'>" +
                    "Please refresh the page." +
                  "</h5>" +
                  "<p class='text-center mb-0 mt-3 mx-0'>" +
                    "Mobile browsers are particularly prone to abruptly closing " +
                    "WebSocket connections " +
                    "<i class='material-icons align-middle'>sentiment_dissatisfied</i>" +
                  "</p>" +
                "</div>" +
              "</div>"
            );
            window.scrollTo(0, 0);
          } else {
            socket.send("heartbeat");
            sendHeartbeat();
          }
        }, heartbeatInterval * 1000);
      };
      sendHeartbeat();

    </script>
  {% endif %}

  {% block js %}
  {% endblock js %}
  </body>
</html>
